.playground {
  width: 500px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.row {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.cell {
  position: relative;
  height: 2.8em;
  width: 11.11%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.cell-input {
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  height: 100%;
  width: 100%;
  border: 0;
  cursor: default;
  color: transparent;
  background-color: transparent;
  text-shadow: 0 0 0 black;
  caret-color: transparent;
  outline: 0;
  padding: 0;
  margin: 0;
}

.black>.cell-input {
  background-color: black;
  color: white
}

.controls {
  margin-top: 30px;
}

.validate-button {
  background-color: rgba(253, 242, 190, 0);
  border: solid .25rem #2c2c2f;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  max-width: 15em;
  outline: 0;
  padding: .6rem 2rem;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
  white-space: nowrap;
}

.error {
  color: red;
  font-size: 2rem;
}

.hidden {
  display: none;
}

.unsure {
  font-size: 0.7rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}